body{
    margin: 0px;
    padding: 0px;
}
.barraPesquisa{
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: black;
}
.logo{
    position: absolute;
    left: 60px;
}
.campoPesquisa input{
    width: 500px;
        position: relative;
        height: 36px;
        left: 550px;
        top: 15px;
        border-radius: 5px;
         /* asdasd*/
}

